/*<meta sourceDocument="C:\Users\14136\Documents\GitHub\mcc_tools_tech\Week08-Framemaker\ElisabethChaput\ElisabethChaput.book" />*/

p.Title
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 36pt;
	letter-spacing: 0em;
	color: #ffffff;
	text-indent: 0px;
	line-height: 43pt;
	text-decoration: none;
}

p.Author
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #ffffff;
	text-indent: 0px;
	line-height: 29pt;
	text-decoration: none;
}

p.CopyrightFirst
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 12pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.Copyright
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 12pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.ContentsTitle
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 22pt;
	margin-bottom: 0pt;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 36pt;
	letter-spacing: 0.4em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 44pt;
	text-decoration: none;
	color: #000000;
}

p.ChapterTitleTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 14pt;
	font-variant: small-caps;
	text-decoration: none;
}

p._1H_Heading1TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 3pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 24px;
	line-height: 12pt;
	text-decoration: none;
}

p._2H_Heading2TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 3pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 48px;
	line-height: 12pt;
	text-decoration: none;
}

p.ChapterNumber
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 36pt;
	margin-bottom: 13pt;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 36pt;
	letter-spacing: 0.25em;
	color: #ffffff;
	mc-hyphenate: never;
	mc-auto-number-format: 'Chapter {chapnum}';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 38pt;
	font-variant: small-caps;
	text-decoration: none;
}

p.ChapterTitle
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 16pt;
	margin-bottom: 0pt;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 36pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 44pt;
	text-decoration: none;
	color: #000000;
}

p.B1_Body1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p._1H_Heading1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 9pt;
	font-family: 'Century Gothic';
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '  ';
	mc-auto-number-position: outside-tail;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 33pt;
	font-variant: small-caps;
	text-decoration: none;
}

p.Bu1_Bullet1
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: B_Bold;
	line-height: 12pt;
	text-decoration: none;
}

p._2H_Heading2
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 7pt;
	font-family: 'Century Gothic';
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '  ';
	mc-auto-number-position: outside-tail;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 25.5pt;
	font-variant: small-caps;
	text-decoration: none;
}

p.Q1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 24pt;
	margin-bottom: 24pt;
	font-family: 'Trebuchet MS';
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 48px;
	line-height: 17pt;
	text-decoration: none;
}

MadCap|xref.Heading_on_Page
{
	mc-format: '{I_Italic}{paratext}{Default ¹ Font} on page {page}';
}

span.I_Italic
{
	font-style: italic;
}

p._4H_Heading4
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 6pt;
	font-family: 'Century Gothic';
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	font-variant: small-caps;
	text-decoration: none;
}

p.N1_Number
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-auto-number-format: 'N:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	line-height: 12pt;
	text-decoration: none;
}

p.NN_NumberNext
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'N:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	line-height: 12pt;
	text-decoration: none;
}

p.B2_Body2
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.StartStep
{
	text-align: left;
	margin-left: 2.125in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 7pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -204px;
	line-height: 8pt;
	text-decoration: none;
}

p.S1_Step_1
{
	text-align: left;
	margin-left: 1.5in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'S:  Step {n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 144px;
	mc-auto-number-class: Step;
	line-height: 12pt;
	text-decoration: none;
}

p.SN_StepNext
{
	text-align: left;
	margin-left: 1.5in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'S:  Step {n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 144px;
	mc-auto-number-class: Step;
	line-height: 12pt;
	text-decoration: none;
}

p.StepRule
{
	text-align: left;
	margin-left: 2.125in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 7pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -204px;
	line-height: 8pt;
	text-decoration: none;
}

p.TableAnchor
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.CellHeading
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Century Gothic';
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.Anchor
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.CB_CellBody
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 5.5pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.TableTitle
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: italic;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'T:Table {chapnum}–{n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 96px;
	mc-auto-number-class: TableTitle;
	line-height: 12pt;
	text-decoration: none;
}

p.Bu2_Bullet2
{
	text-align: left;
	margin-left: 0.625in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '– ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: B_Bold;
	line-height: 12pt;
	text-decoration: none;
}

p.Bu3_Bullet3
{
	text-align: left;
	margin-left: 0.9in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '* ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 28.79999px;
	mc-auto-number-class: B_Bold;
	line-height: 12pt;
	text-decoration: none;
}

p.zzHeaderLeft
{
	text-align: justify;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
}

p.zzFooterLeft
{
	text-align: justify;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
}

span.PgNum
{
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 10pt;
	text-decoration: none;
}

p.zzHeaderRight
{
	text-align: justify;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
}

p.zzFooterRight
{
	text-align: justify;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
}

