/*<meta />*/

:root
{
	--Brand1: #076685;
	--Brand2: #CDE0E7;
	--Black: #000000;
	--Dark: #45494c;
	--Medium: #b9bec1;
	--Light: #d0d3d5;
	--White: #ffffff;
}

body
{
	color: var(--Dark);
	font-family: Arial, Avenir, Myriad;
	margin: 0;
}

.body-container
{
	padding-left: 2%;
	padding-top: 2%;
}

div.Body-Content
{
	margin: 2% 5%;
}

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0;
	color: var(--Dark);
}

#mc-main-content
{
	margin-bottom: 3em;
}

/* Backmatter */

div.GlossaryPageDefinition
{
	font-size: 10pt;
}

div.GlossaryPageHeading
{
	font-size: 21pt;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom-color: var(--Medium);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: left;
	color: inherit;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 10px;
	background-image: url('../Images/Backmatter-Heading-Background.png');
	background-repeat: no-repeat;
}

div.GlossaryPageTerm
{
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}

MadCap|glossaryProxy
{
	border-top: none;
}

MadCap|indexProxy
{
	border-top: none;
}

p.Index1
{
	font-size: 10pt;
	font-weight: bold;
}

p.Index2
{
	font-size: 10pt;
	font-weight: normal;
}

p.IndexHeading
{
	font-size: 21pt;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom-color: var(--Medium);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: left;
	color: inherit;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 12px;
	padding-right: 10px;
	background-image: url('../Images/Backmatter-Heading-Background.png');
	background-repeat: no-repeat;
}

/* Content */

.center
{
	text-align: center;
}

img
{
	border: none;
	max-width: 100%;
}

img.Logo
{
	padding-left: 20px;
	padding-top: 20px;
}

p
{
	font-size: 12pt;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20pt;
	widows: 3;
	orphans: 3;
	letter-spacing: 0.25px;
}

p.note
{
	border-left: solid 5px #000000;
	border-left-color: var(--Brand1);
	padding: 10px;
}

p.table-text
{
	font-size: 12pt;
}

span.Emphasis
{
	font-weight: bold;
}

/* Course title topic */

div.course-title-layout
{
	padding: 2% 5%;
}

div.course-title-section
{
	padding: 0;
}

div.topic-hero
{
	background-size: cover;
	background-attachment: scroll;
	background-image: url('../Images/Hero-Image.png');
	margin: 0%;
	height: 300px;
}

div.topic-hero h1
{
	color: var(--White);
	font-size: 48pt;
	text-align: center;
	padding-top: 2em;
	margin-top: 0px;
}

html.course-title-topic .main-section > .outer-row	/* Overrides padding set in the skin when in tablet/mobile */
{
	max-width: 100%;
	padding: 0;
}

/* Drop-Downs */

MadCap|dropDown
{
	border-bottom: 1px solid var(--Light);
	mc-image-position: left;
	mc-image-spacing: 10px;
	mc-open-image: url('../Images/Minus.png');
	mc-closed-image: url('../Images/Plus.png');
	padding: 10px 0;
}

MadCap|dropDownBody
{
	padding: 10px 30px 0;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	color: var(--Dark);
	font-size: 20pt;
	font-weight: bold;
	border-bottom: none;
}

MadCap|expandingBody
{
	color: var(--Dark);
	font-style: italic;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: var(--Brand1);
}

/* eLearning */

.correctFeedback p
{
	color: #4DBA6E;
	font-size: 14px;
	line-height: 1.2em;
}

.incorrectFeedback p
{
	color: #FA4D55;
	font-size: 14px;
	line-height: 1.2em;
}

.multipleChoice
{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.multipleChoiceItem
{
	display: block;
	position: relative;
	cursor: pointer;
	margin-left: 20px;
	padding-left: 35px;
}

.multipleChoiceItem p
{
	font-size: 14px;
	line-height: 1.2em;
}

.multipleChoiceItem input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox
{
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
}

.multipleChoiceItem:hover input ~ .checkbox
{
	background-color: #ccc;
}

.multipleChoiceItem input:checked ~ .checkbox
{
	background-color: var(--Brand1);
}

.checkbox:after
{
	content: "";
	position: absolute;
	display: none;
}

.multipleChoiceItem input:checked ~ .checkbox:after
{
	display: block;
}

.multipleChoiceItem .checkbox:after
{
	left: 6px;
	top: 2px;
	width: 4px;
	height: 9px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.radio
{
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.multipleChoiceItem:hover input ~ .radio
{
	background-color: #eee;
}

.multipleChoiceItem input:checked ~ .radio
{
	background-color: #fff;
}

.radio:after
{
	content: "";
	position: absolute;
	display: none;
}

.multipleChoiceItem input:checked ~ .radio:after
{
	display: block;
}

.multipleChoiceItem .radio:after
{
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--Brand1);
}

MadCap|question
{
	margin-top: 3.5em;
}

.question p
{
	font-size: 17px;
	line-height: 1.2em;
}

MadCap|submitQuestionButton
{
	width: 125px;
	height: 36px;
	background-color: #cecece;
	border: solid 1px #cecece;
	color: var(--Dark);
	font-size: 14px;
	line-height: 1.2em;
	margin-bottom: 1.5em;
}

MadCap|submitQuestionButton:hover
{
	background-color: var(--Brand1);
	border: solid 1px var(--Brand1);
	color: #fff;
}

.submitQuestionButton:disabled,
.submitQuestionButton:disabled:hover
{
	background-color: #e0e1e2;
	border: solid 1px #e0e1e2;
	color: #8a9297;
}

/* Frontmatter */

hr.title-page
{
	border: solid 0px transparent;
	background-color: var(--Light);
	height: 1px;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 370px;
}

MadCap|tocProxy
{
	border-top: none;
	margin-right: 0.25in;
}

p.created-using-flare
{
	color: var(--Dark);
	font-weight: bold;
	margin-top: 18px;
	font-size: 9pt;
	line-height: 15pt;
	text-transform: uppercase;
}

p.subtitle
{
	line-height: 30pt;
	margin-top: 20px;
	mc-hyphenate: never;
	font-size: 28pt;
}

p.title
{
	line-height: 46pt;
	margin-top: 30px;
	mc-hyphenate: never;
	font-size: 40pt;
}

p.title-page-footer
{
	color: var(--Dark);
	font-size: 9pt;
	frame-break-before: always;
	line-height: 15pt;
	margin-top: 30px;
}

p.title-page-url
{
	color: var(--Dark);
	font-size: 9pt;
	line-height: 15pt;
}

p.TOC1
{
	color: var(--Dark);
	font-size: 19pt;
	font-weight: normal;
	line-height: 21pt;
	margin-bottom: 15px;
	margin-top: 15px;
	page-break-after: avoid;
}

p.TOC2
{
	color: var(--Dark);
	font-size: 15pt;
	font-weight: normal;
	line-height: 21pt;
	margin-bottom: 13px;
	margin-left: .5in;
	margin-top: 13px;
}

p.TOC3
{
	color: var(--Dark);
	font-size: 13pt;
	line-height: 21pt;
	font-weight: normal;
	margin-bottom: 10px;
	margin-left: 1in;
	margin-top: 10px;
}

p.TOC4
{
	color: var(--Dark);
	margin-left: 1.5in;
}

/* Headings */

h1
{
	font-weight: bold;
	font-size: 24pt;
	color: var(--Brand1);
	padding-top: 30px;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	page-break-before: always;
}

h2.No-Page-Break-Before
{
	page-break-before: avoid;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

/* Links */

a
{
	color: var(--Brand1);
}

a:link
{
	color: var(--Brand1);
}

a:visited
{
	color: var(--Brand1);
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	color: var(--Brand1);
}

/* Lists */

dd,
dd p,
dt,
dt p,
li,
li p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

dl,
ol,
ul
{
	letter-spacing: .25px;
	line-height: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Page layout */

p.frame-footer-page-number
{
	color: var(--Medium);
	font-size: 11pt;
	font-weight: bold;
	text-align: right;
}

p.frame-footer-text
{
	color: var(--Medium);
	font-size: 11pt;
	font-weight: bold;
	text-transform: uppercase;
}

/* Slideshow */

MadCap|slideshow
{
	padding-left: 50px;
	padding-right: 50px;
}

/* Template page */

div.header
{
	background-color: var(--Brand1);
	height: 130px;
	margin: 0;
}

div.header p
{
	margin-top: 0;
}

div.home-footer
{
	background-color: var(--Brand1);
	padding: 2% 5%;
}

p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: var(--White);
}

p.footer-sub
{
	color: var(--White);
	font-size: 14pt;
	margin-top: 14px;
}

/* Two-tile design */

div.two-tiles
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.two-tiles::before
{
	content: ' ';
	display: table;
}

div.two-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.two-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: var(--Brand2);
	padding: 2%;
	height: 425px;
}

div.two-tiles > div:nth-child(1)
{
	width: 48%;
	margin-left: 0%;
}

div.two-tiles > div:nth-child(2)
{
	width: 48%;
	margin-left: 4%;
}

div.two-tiles-layout
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.two-tiles-layout::before
{
	content: ' ';
	display: table;
}

div.two-tiles-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.two-tiles-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.two-tiles-layout > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.two-tiles-layout > div:nth-child(2)
{
	width: 66.66667%;
	margin-left: 0%;
}

div.two-tiles-layout p
{
	line-height: 1.2;
}

MadCap|slide
{
	padding: 50px;
}

@media tablet
{
	/* Course title topic */

	div.topic-hero h1
	{
		font-size: 36pt;
		padding-top: 2em;
	}

	html.course-title .body-container
	{
		margin-left: 0;
	}

	/* Two-tile design */

	div.two-tiles > div
	{
		height: 625px;
	}

	div.two-tiles > div:nth-child(1)
	{
		width: 49%;
		margin-left: 0%;
	}

	div.two-tiles > div:nth-child(2)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.two-tiles-layout > div:nth-child(1)
	{
		width: 40%;
		margin-left: 30%;
	}

	div.two-tiles-layout > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}
}

@media mobile
{
	/* Two-tile design */

	div.two-tiles > div
	{
		height: 500px;
	}

	div.two-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.two-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-top: 5%;
	}

	div.two-tiles-layout p
	{
		line-height: 1.2;
	}
}

@media print
{
	body
	{
		font-size: 11pt;
		line-height: 13pt;
		margin: 8px;
	}

	/* Content */

	p
	{
		margin-bottom: 10px;
		margin-top: 10px;
	}

	p.table-text
	{
		font-size: 11pt;
	}

	/* Drop-Downs */

	MadCap|dropDown
	{
		border-bottom: none;
		margin-top: 40px;
		font-size: 21pt;
		font-weight: normal;
		line-height: 23pt;
		margin-bottom: 18px;
		margin-top: 40px;
		padding: 0;
		page-break-before: always;
	}

	MadCap|dropDownBody
	{
		padding: 0;
	}

	/* eLearning */

	.question p
	{
		font-weight: bold;
	}

	MadCap|multipleChoiceItem
	{
		margin-left: 30px;
	}

	/* Headings */

	h1
	{
		font-size: 25pt;
		line-height: 27pt;
		margin-bottom: 20px;
	}

	h2
	{
		font-size: 21pt;
		font-weight: normal;
		line-height: 23pt;
		margin-bottom: 18px;
		margin-top: 40px;
	}

	h3
	{
		font-size: 15pt;
		font-weight: bold;
		line-height: 17pt;
		margin-bottom: 15px;
		margin-top: 40px;
	}

	/* Links */

	MadCap|xref
	{
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}
}
