body {
  background-color: beige;
}

img {
  opacity: 1.0;
}

img:hover {
  opacity: .5;
}


h1 {
  color: navy;
  font-size: 30px;
  margin-left: 20px;
}


h2 {
  color: Cornflowerblue;
  font-size: 25px;
  margin-left: 20px;
}

h3 {
  color: DeepSkyblue;
  font-size: 20px;
  margin-left: 20px;
}


p {
font-family: Tahoma, Verdana, sans-serif;
}



table {

  border: 1px solid;
  text-align: center;
}

