nav.title-bar
{
    background-repeat: no-repeat;
    background-position: center top;
}

.title-bar-layout a.logo
{
    background-position: center center;
    background-repeat: no-repeat;
}

.search-bar .search-submit
{
    background-repeat: no-repeat;
    background-position: center center;
}

.search-bar .search-filter
{
    background-repeat: no-repeat;
    background-position: center center;
}

.search-input
{
    background-repeat: no-repeat;
    background-position: center center;
}

.off-canvas.position-right
{
    background-position: top center;
}

.off-canvas.position-right ul ul
{
    background-position: top center;
}

.off-canvas.position-left
{
    background-position: top center;
}

.off-canvas.position-left ul ul
{
    background-position: top center;
}

.title-bar-section.middle > div
{
}