/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\14136\Documents\GitHub\mcc_tools_tech\Week08-Framemaker\ElisabethChaput\ElisabethChaput.book" Version="9" />*/

mcTableStyle
{
	name: Format_A;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 6pt;
	cell-padding-left: 6pt;
	cell-padding-right: 6pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2pt;
	separator-color: #000000;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Format_A
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-Format_A-Column-Column1
{
	
}

.TableStyle-Format_A-Head-Header1
{
	
}

.TableStyle-Format_A-HeadI-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Format_A-HeadE-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Format_A-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Format_A-HeadF-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Format_A-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Format_A-HeadH-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Format_A-HeadD-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Format_A-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Format_A-HeadC-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Format_A-HeadB-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Format_A-HeadA-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-Format_A-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Format_A-HeadG-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-Format_A-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Format_A-Foot-Footer1
{
	
}

.TableStyle-Format_A-FootI-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Format_A-FootE-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Format_A-FootF-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Format_A-FootH-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Format_A-FootD-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-Format_A-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Format_A-FootC-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Format_A-FootB-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Format_A-FootA-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-Format_A-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Format_A-FootG-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-Format_A-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Format_A-Body-Body1
{
	
}

.TableStyle-Format_A-BodyI-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Format_A-BodyE-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Format_A-BodyF-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Format_A-BodyH-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Format_A-BodyD-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Format_A-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Format_A-BodyC-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Format_A-BodyB-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Format_A-BodyA-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-Format_A-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Format_A-BodyG-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Format_A-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Format_A-Body-Body2
{
	
}

.TableStyle-Format_A-BodyI-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Format_A-BodyE-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Format_A-BodyF-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Format_A-BodyH-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Format_A-BodyD-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Format_A-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Format_A-BodyC-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Format_A-BodyB-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Format_A-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Format_A-BodyA-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-Format_A-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Format_A-BodyG-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Format_A-BodyG-Column1-Body2 p
{
	
}


