* {
	margin-left: 45px;
}

h1 {
	font-family: arial;
	color: #3C3049;
}

h2 {
	font-family: comic sans;
	color:#8F3043

p {
	font-family: arial
	color: red;
}

p.different {font-family: comic sans;
	color: blue;
}

body {
	background-color: yellow;
}

li {
	font-family: times new roman;
	margin-bottom: 7pt;
}

ul 
	{list style: none;
	margin-left -2em;
}

ol {
	font=family:comic sans;

	margin-left:-2em;
}

table {
	border-collapse: collapse;
	border: dotted #344209;
	font-family: times new roman;
}