body {
	
	background-image: url("Notyetspring2.png");
	background-repeat: repeat-y;
	background-position:right top;
	background-color:darkturquoise;
	margin-top: 5m;
	margin-right: 30em;
	margin-bottom: 5em;
	margin-left: 3em;
}



h1 {
	color:orangered;
	font-family:Verdana, sans-serif;
	text-shadow: 2px 4px 4px rgba(46, 91, 173, 0.6);
	font-size:2.5em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}
h2 {
	background-color:lightseagreen;
	color:white;
	font-family:Verdana, sans-serif;
	padding-left: 1em;
	padding-right: 1em;
}
h3 {background-color:lightseagreen;
	color:white;
	font-family:Verdana, sans-serif;
	font-style: italic;
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
}
p {
	font-family:Arial, sans-serif;
	color: #191970;
	text-indent: 0em;
	margin-left: 0em;
}
	
ul {
	list-style: none;
	font-family: Helvetica;
	color: #191970;
	margin-left: -2em;
}

ul li::before {
	content: "\2745" ;
	color: #191970;
	display: inline-block;
	width: 1em;
}

ol {
	list-style: lower-alpha;
	font-family: Helvetica;
	color: #191970;
	margin-left: -2em;
}

ol li::before {
	color: #191970;
	display: inline-block;
	width: 1.5em;
	counter-increment: li;
}
table {
	border-collapse: collapse;
	border: solid #551033;
	font-family: Garamond;
	margin-bottom: 2em;
}

tr {
	border: solid thin #0b0733;
}

th {
	background-color: #0b0733;
	color: white;
}

td {
	margin-left: 0px;
	border: solid thin #0b0733;
	padding: 3pt;
	text-align: left;
}
