body{
margin-left:50px;
margin-right:50px;
}
h1{
color:blue;
background-color:yellow;
font-family:verdana;
margin-right: 4em
}
h2{
color:green;
font-family:courier;
text-align: center;
}
p{
color:red;
font-family: sans-serif;
}
table, th, td {
  border: 1px solid blue;
  border-collapse: collapse;
}
th, td{
  padding: 10px;
}
th{
  text-align: left;
  color: black;
  background-color: red;
}
tr:nth-child(2n){
  background-color: pink;
}
tr:nth-child(2n+1){
  background-color: purple;
}
.column {
  float: left;
  height: 2000px;
}
.left{
  width:75%
}
.right{
  width:25%;
  color:white;
  background-color:pink;
}
.row{
  content:"";
  display: table;
  clear:both;
}
ul{
  list-style: square;
  color:brown
}
ol{
  list-style-type: upper-roman;
  color:yellow;
  background-color:orange;
  margin-right: 2em;
}
img{
  border:20px solid red;
}
