/*<meta />*/

h1.concepttitle
{
	
}

p.shortdesc
{
	
}

html.concept
{
	font-family: sans-serif;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 6pt;
	margin-bottom: 9pt;
}

body.conbody
{
	margin-top: 6pt;
}

p
{
	margin-top: 6pt;
}

li
{
	margin-left: 20pt;
	margin-top: 6pt;
	margin-bottom: 2pt;
}

div.note
{
	margin-top: 6pt;
}

div.note
{
	
}

h1.referencetitle
{
	
}

html.reference
{
	font-family: sans-serif;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 6pt;
	margin-bottom: 9pt;
}

body.refbody
{
	margin-top: 6pt;
}

div.section
{
	margin-top: 12pt;
}

table
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
}

td
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}

th
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}

h1.tasktitle
{
	
}

html.task
{
	
}

body.taskbody
{
	
}

div.prereq
{
	
}

div.context
{
	
}

ol.steps
{
	
}

li.step
{
	
}

span.cmd
{
	
}

div.result
{
	
}

div.postreq
{
	
}

span.uicontrol
{
	
}

div.info
{
	
}

div.fig
{
	margin-top: 12pt;
}

span.figtitle
{
	
}

sub
{
	font-size: smaller;
	vertical-align: sub;
}

div.example
{
	margin-top: 6pt;
}

