/* OffCanvas styles */

html, body
{
    height: 100%;
    margin: 0;
}

.off-canvas
{
    height: 100%;
    overflow-x: hidden;
}

.off-canvas-content
{
    max-height: none;
}

/* Foundation Overrides */

.foundation-wrap, .off-canvas-wrapper, .off-canvas-wrapper-inner
{
    min-height: 100%;
}

.foundation-wrap, .off-canvas-wrapper
{
    overflow: visible;
}

nav.title-bar .menu-icon
{    
    display: block;
    border: none;
    z-index: 100;
    position: absolute;
    background: transparent;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

nav.title-bar
{
    background-repeat: no-repeat;
    background-position: center top;
}

/* Topbar Menu Styles */
.title-bar-section.middle > div
{
}

.navigation-wrapper, ul.navigation
{
    display: none;
}

.responsive-header
{
    display: block;
    background: #292929; 
    height: 60px;
}

.title-bar-layout a.logo
{
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    margin: 0;
}

.title-bar .menu-icon span
{
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("Images/Menu.png");
    height: 48px;
    width: 48px;
    display: block;
}

.search-bar .search-submit
{
    background-repeat: no-repeat;
    background-position: center center;
}

.search-bar .search-filter
{
    background-repeat: no-repeat;
    background-position: center center;
}

.search-input
{
    background-repeat: no-repeat;
    background-position: center center;
}

.off-canvas.position-right
{
    background-position: top center;
}

.off-canvas.position-right ul ul
{
    background-position: top center;
}

.off-canvas.position-left
{
    background-position: top center;
}

.off-canvas.position-left ul ul
{
    background-position: top center;
}

.off-canvas ul ul.is-accordion-submenu
{
    background: inherit;
}

.off-canvas ul.off-canvas-list li.is-drilldown-submenu-parent > a:after
{
    margin-left: 0.5rem;
}

.is-drilldown-submenu .js-drilldown-back > a:after
{
    margin-left: 0.5em;
}

ul.off-canvas-list li a
{
    font-size: 1em;
    color: #C1C1C1;
    border-bottom: solid 1px #262626;
	line-height: inherit;
}

ul.off-canvas-accordion ul > li > a
{
    margin-left: 1em;
}

ul.off-canvas-accordion ul ul > li > a
{
    margin-left: 2em;
}

ul.off-canvas-accordion ul ul ul > li > a
{
    margin-left: 3em;
}

ul.off-canvas-accordion ul ul ul ul > li > a
{
    margin-left: 4em;
}

ul.off-canvas-accordion-rtl ul > li > a
{
    margin-left: inherit;
    margin-right: 1em;
}

ul.off-canvas-accordion-rtl ul ul > li > a
{
    margin-left: inherit;
    margin-right: 2em;
}

ul.off-canvas-accordion-rtl ul ul ul > li > a
{
    margin-left: inherit;
    margin-right: 3em;
}

ul.off-canvas-accordion-rtl ul ul ul ul > li > a
{
    margin-left: inherit;
    margin-right: 4em;
}

/* Side Nav */

.sidenav-layout {
    display: block;
    height: inherit;
    max-height: none;
}

.sidenav-wrapper {
    display: none;
}

.body-container {
    overflow: inherit;
}
